html,
body {
    height: 100%;
    overflow: hidden;
}
#app {
    height: 100%;
}
.content-wrapper {
    height: 100%;
}
.login-page, .register-page{
    position: relative;
    height: 100%;
    background:url("../../../public/libs/img/loginbg.jpg") no-repeat center / cover;
}
.login-logo{
    color:#fff;
}